<div class="container">
  <div class="sidebar">
    <div class="sidebar_style">
    <header><i class="fa fa-solid fa-bars"></i>Menu</header>
    <a routerLink="/admin" routerLinkActive="active">
      <i class="fas fa-qrcode"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/customers" routerLinkActive="active">
      <i class="fas fa-user fa-solid"></i>
      <span>Customers</span>
    </a>
    <a routerLink="/orders" routerLinkActive="active">
      <i class="fas fa-stream"></i>
      <span >Orders</span>
    </a>
    <a routerLink="/wfg" routerLinkActive="active">
       <i class="fas fa-industry"></i>
      <span >Work Flow</span>
    </a>
    <a routerLink="/statistics" routerLinkActive="active">
      <i class="far fa-question-circle"></i>
      <span>Statistics</span>
    </a>
    <a routerLink="/products" routerLinkActive="primary">
      <i class="fas fa-sliders-h"></i>
      <span>Products</span>
    </a>
  </div>
 </div></div>