h1{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0%;
   margin-left: 2%;
}

hr{
 border-radius: 5px;
 margin-left:2%;
 margin-right: 2%;
 margin-top: 0%;
}

.table-container {
    margin: 2%;
    overflow-x: auto;
    justify-content: center; 
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .table-container {
      margin: 10px; 
    }
  }